<!doctype html>
<html lang="{{ metadata.language }}">
<head>
{% include "partials/seo.njk" %}
</head>
<body>
  {# <script src="https://unpkg.com/cursor-effects@latest/dist/browser.js"></script>
  <script>
    window.addEventListener("load", () => {
    new cursoreffects.ghostCursor();
  }); #}
    {# new cursoreffects.ghostCursor({
    image: "https://www.cursor.cc/cursor/820/63/cursor.png"
  }); #}
{# cursor-effects From https://github.com/tholman/cursor-effects #}
</script>
<a href="#main-content" class="skip-to-content">Skip to content</a>
{% include "partials/control.njk" %}
{% include "partials/nav.njk" %}
<main id="main-content">
{{content|safe}}
</main>
{% include "partials/footer.njk" %}
</body>
</html>



